.header{
    display: flex;
    justify-content: space-between;
    margin:20px;
    margin-top: 40px;
}
body{
    font-family: sans-serif;
}
#parrot{
    height: 130px;
    display: block;
  margin-top: auto;
  margin-bottom: auto;
    
}
.icon{
    height: 155px ;
}
#title{
    font-size: 70px;
    color:rgb(236, 73, 73);
}
#playStore{
    height: 200px ;
} 
#titleContent{
    font-size: 70px;
    padding-bottom: 50px;
    font-weight: bold;
    padding-top: 40px;
    margin-left: 20px;
    
}
#titleContent2{
    font-size: 30px;
    margin-left: 20px;
    padding-bottom: 60px;
}
#title2{
    font-size: 60px;
    text-align:center;
    color:rgb(236, 73, 73);
}
.secondPage{
    display:flex;
    flex-wrap: wrap;
    padding-bottom: 100px;
}
.secondPage{
    justify-content: space-between;
    margin: 20px;
}
.imgContainer p{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 80px;
}
.imgContainer img{
 height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#list{
    font-size: 25px;
    color:green;
}
#ping{
    font-size: 30px;
    margin: 20px;
    padding-bottom: 50px;
}
#dynamic{
    font-size: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding-bottom: 20px;
    color:rgb(236, 73, 73);
}
#heartIcon{
    height: 15px;
}
#madeInIndia{
    font-size: 20px;
}
#parrot2{
    height: 130px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
#playStore2{
    height: 200px ;
    display: block;
  margin-top: auto;
  margin-bottom: auto;
}
#followUsOn{
    font-size: 20px;
    font-weight: bold;
}
.footerContent{
    display: flex;
    justify-content:space-between;
}
.socialNetworkIcon{
    display: flex;
    justify-content: space-between;
}
.socialNetworkIcon img{
    height: 30px;
    justify-content: space-between;
    padding: 5px;
}
.socialNetworkIcondiv{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}
.socialNetworkIcondiv p{
text-align: center;
}
.footerContent{
    margin: 20px;
}
.footer{
    margin: 20px;
    border: 1px solid black;
}
.footerEnd{
    font-size: 30px;
    text-align: center;
}
.footerEnd img{
height: 20px;
}